<div class="accordion">
    <dx-accordion
      :data-source="internalSteps"
      collapsible="true"
      :multiple="false"
      animation-duration="300"
      v-model:selected-items="selectedItems"
    >
      <template #title="{ data }">
      <div>
        <div class="flex space-x-4">
          <div class="pt-1"><font-awesome-icon icon="circle-check" v-if="data.state"/></div>
          <i class="option-icon dx-icon-isblank text-2xl pt-1" v-if="!data.state"></i>
          <div class="pt-1">{{ data.title }}</div>
          <div> <dx-tag-box @selectionChanged="removeTag($event, data)" :open-on-field-click="false" :data-source="data.list" :value="data.listSelected" /></div>
        </div>
      </div>
      </template>
      <template #item="{ data }" class="pt-3">
        <div v-if="!data.theme" class="template-content flex space-x-4 py-3">
          <div v-for="item of data.list">
            <div class="pill" @click="addItems(data, item)">{{ item }}</div>
          </div>
        </div>
        <div v-if="data.theme === 'openapi'">
          <div class="template-content pt-4 flex">
            <ntt-text-box class="flex-initial mb-3 mr-3 w-44" :placeholder="'Api name'" :showClearButton="true" v-model="openApiName" @valueChanged="valueChanged($event)" />
            <dx-file-uploader uploadUrl="" :uploadMode="'useButtons'" :disabled="!disabledUploader" class="flex-initial w-64" labelText="" ref="fileUploader"
            :selectButtonText="'Select json file'" :showFileList="false" @value-changed="uploadFile($event, data)" />
          </div>
        </div>
      </template>
    </dx-accordion>
  </div>